h1, h2, h3, h4, h5, p, li{
	font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
	}

p a:visited {
    font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    color: green;
    }
p a:hover {
    font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    color: red;
    }
p a:active {
    font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    color: green;
    }

body{
	width: auto;
	height: auto;
	}

.container{
    width: 100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    }

.topnav{
    width:100%;
    line-height:24px;
    padding-top:none;
    }
   
.topnav-left{
    float:left;
    width:80%;
    }

.topnav-right{
    float:left;
    width:20%;
    }
     
.topnav-left nav ul{
    float:right;
    }
  
.topnav-left nav li{
    font-family:"Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    display:inline;
    padding-left:10px;
    margin-top:0;
    padding-top:5px;
    font-size:11px;
    font-weight: bold;
    line-height: 24px;
    
    }

.topnav-right nav li{
    font-family:"Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    display:inline;
    float:right;
    padding-right:10px;
    margin-top:0;
    padding-top:5px;
    padding-bottom:15px;
    font-size:11px;
    line-height: 24px;
    }
    
a:hover, a:focus{
    color: green;
}

a, a:link, a:active, a:visited {
    color: green;
}

a:visited {
    color: ;
}

#main_content, #main_article_content {
    line-height:20px;
    height:100%;
    width:100%;
    float:left;
    padding:5px; 
    background-color: white;
}
/*Container all incoming student divs*/
#section, #article_content {
    width:100%;
    height: auto;
    float:left;
}
/*Container for Freshman and Transfer div*/
#section_ls {
    width:48%;
    float:left;
}
/* This would be used for XML and JS
#faqs {
    display: inline-block;
    font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    height:1000px;
    width:100%;
    float:left;
    background-color: white;
}

#showArticles {
    display: inline-block;
    font-family:  "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    height:300px;
    width:300px;
    float:left;
    padding:0px;
}

#showResponse {
    display: inline-block;
    font-family:  "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
    height:300px;
    width:300px;
    float:left;
    padding:0px;
} */

/*Freshman Students Section*/
#newFreshman, #collegeLife {
    display: inline-block;
    font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
	height:900px;
	width:48%;
    float:left;
    background-color: white;
    padding-right: 5px;
}

/*Transfer Students Section*/
#transferStudents, #campusLife {
    display: inline-block;
    font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
	height:900px;
    width:48%;
    float:right;
    background-color: white;
    padding-right: 5px;
}
/*Container for Master's and International div*/
#section_rs {
    width:48%;
    float:right;
 	 	 
}
/*Master's Students Section*/
#masterStudents, #academics {
    display: inline-block;
    font-family: "Lucida Grande","Lucida Sans Unicode","Segoe UI",Helvetica,Arial,sans-serif;
	height:900px;
    width:48%;
    float:left;
    border-top: 0px;
    background-color: white;
    padding-right: 5px;
}
/*International Students Section*/
#internationalStudents, #untSystems {
    display: inline-block;
    height:900px;
    width:48%;
    float:right;
    background-color: white;
    padding-right: 5px;
}


#aside {
    line-height:15px;
    background-color:#eeeeee;
    height:auto;
    width:20%;
    float:right;
              
}

#nav {
    line-height:20px;
    background-color:#eeeeee;
    height:auto;
    float:left;
              
}



