table, td, th {
    border: 1px solid green;
}
th {
    background-color: green;
    color: white;
}
{
font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
tr:nth-child(2n) {
             background-color: white;
        }
table 
{ 
background-image: url("footballpitch.png");
background-size: cover;
} 